In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
%matplotlib inline
conn = pymysql.connect(host='localhost', user='root', password='Sk1ttles', db='nba_stats_prod')

In [440]:
training_set = """
select adv.win_lose,
       bm.home_away,
       adv.game_length, /*
       adv.ast_pct,
       adv.ast_to_to, */
       adv.ast_ratio, /*
       adv.offensive_reb_pct,
       adv.defensive_reb_pct, */
       adv.reb_pct,
       -- adv.to_pct,
       -- adv.effective_fg_pct,
       adv.ts_pct,
       adv.pace,
       -- fig.fta_rate,
       fig.tov_pct,
       -- fig.oreb_pct,
       -- fig.opp_effective_fg_pct,
       fig.opp_fta_rate,
       fig.opp_tov_pct,
       -- fig.opp_off_reb_pct,
       -- misc.points_off_to,
      /* misc.second_chance_pts,
       misc.fbps,
       misc.pts_in_paint,
       misc.opp_pts_off_to,
       misc.opp_second_chance_pts,
       misc.opp_fbps,
       misc.opp_pts_in_paint,
       score.pct_2pt_fg,
       score.pct_3pt_fg,
       score.pct_pts_2pt,
       score.pct_pts_2pt_mr,
       score.pct_pts_3pt,
       score.pct_pts_fbps, */
       -- score.pct_pts_ft,
     -- score.pct_pts_off_to,
      /* score.pct_pts_pitp,
       score.2pt_fgm_ast_pct,
       score.3pt_fgm_ast_pct,
       score.3pt_fgm_uast_pct,
       score.fgm_pct_ast,
       score.fgm_pct_uast, */
       trad.fga, /*
       -- trad.fg_pct,
       trad.3pa,
       -- trad.3p_pct,
       trad.fta,
       trad.ft_pct,
       trad.oreb, */
       trad.dreb,
       -- trad.tot_reb,
       trad.ast /*,
       trad.stl,
       trad.blk,
       trad.personal_fouls */
from box_scores_map_view as b
inner join(

    select b.game_hash, b.team, b.home_away, b.game_date
    from box_scores_map_view as b
    inner join game_date_lookup as lu on b.game_date = lu.day
    where b.game_date < current_date and
          lu.season > 1994

    ) as bm on ( (b.game_hash = bm.game_hash) and (b.team = bm.team) )

inner join team_advanced_boxscore_stats as adv on ( (bm.team = adv.team) and (bm.game_hash = adv.game_hash) )
inner join team_figure4_boxscore_stats as fig on ( (adv.team = fig.team) and (adv.game_hash = fig.game_hash) )
inner join team_misc_boxscore_stats as misc on ( (fig.team = misc.team) and (fig.game_hash = misc.game_hash) )
inner join team_scoring_boxscore_stats as score on ( (misc.team = score.team) and (misc.game_hash = score.game_hash) )
inner join team_traditional_boxscore_stats as trad on ( (score.team = trad.team) and (score.game_hash = trad.game_hash) )"""

In [449]:
test_set = """adv.win_lose,
       bm.home_away,
       adv.game_length,
       /*adv.ast_pct,
       adv.ast_to_to,
       adv.ast_ratio,
       adv.offensive_reb_pct, */
       adv.defensive_reb_pct,
       adv.reb_pct,
       adv.to_pct,
       -- adv.effective_fg_pct,
       adv.ts_pct,
       adv.pace, /*
       fig.fta_rate,
       fig.tov_pct,
       fig.oreb_pct, */
       /* fig.opp_effective_fg_pct */,
       fig.opp_fta_rate,
       fig.opp_tov_pct, /*
       fig.opp_off_reb_pct,
       misc.points_off_to,
       misc.second_chance_pts,
       misc.fbps, */
       misc.pts_in_paint,
       misc.opp_pts_off_to,
       misc.opp_second_chance_pts, /*
       misc.opp_fbps,
       misc.opp_pts_in_paint,
       score.pct_2pt_fg,
       score.pct_3pt_fg,
       score.pct_pts_2pt,
       score.pct_pts_2pt_mr,
       score.pct_pts_3pt,
       score.pct_pts_fbps,
       score.pct_pts_ft,
       score.pct_pts_off_to,
       score.pct_pts_pitp,
       score.2pt_fgm_ast_pct,
       score.3pt_fgm_ast_pct,
       score.3pt_fgm_uast_pct,
       score.fgm_pct_ast,
       score.fgm_pct_uast, */
       trad.fga, /*
       trad.fg_pct,
       trad.3pa,
       trad.3p_pct,
       trad.fta,
       trad.ft_pct, */
       trad.oreb /*,
       trad.dreb,
       trad.tot_reb,
       trad.ast,
       trad.stl,
       trad.blk,
       trad.personal_fouls */
from box_scores_map_view as b
inner join(

    select game_hash, team, home_away, game_date
    from box_scores_map_view
    where team like 'Memphis%' and
          game_date < current_date
    order by game_date desc limit 8
    ) as bm on ( (b.game_hash = bm.game_hash) and (b.team = bm.team) )

inner join team_advanced_boxscore_stats as adv on ( (bm.team = adv.team) and (bm.game_hash = adv.game_hash) )
inner join team_figure4_boxscore_stats as fig on ( (adv.team = fig.team) and (adv.game_hash = fig.game_hash) )
inner join team_misc_boxscore_stats as misc on ( (fig.team = misc.team) and (fig.game_hash = misc.game_hash) )
inner join team_scoring_boxscore_stats as score on ( (misc.team = score.team) and (misc.game_hash = score.game_hash) )
inner join team_traditional_boxscore_stats as trad on ( (score.team = trad.team) and (score.game_hash = trad.game_hash) )
where bm.team like 'Memphis%'"""

In [451]:
train_df = pd.read_sql(sql=training_set, con=conn, index_col=None)

In [452]:
#test_df = pd.read_sql(sql=test_set, con=conn, index_col=None)

In [453]:
def get_dummies(col):
    return pd.get_dummies(col, drop_first=True)

In [454]:
results_train = get_dummies(train_df['win_lose'])

In [455]:
#ha_train = get_dummies(train_df['home_away'])

In [456]:
#results_test = get_dummies(test_df['win_lose'])

In [457]:
#ha_test = get_dummies(test_df['home_away'])

In [458]:
train_df = pd.concat([train_df, results_train], axis=1)

In [459]:
train_df.drop(['win_lose'], axis=1, inplace=True)

In [460]:
#test_df = pd.concat([test_df, results_test], axis=1)

In [461]:
#test_df.drop(['win_lose'], axis=1, inplace=True)

In [462]:
#train_df = pd.concat([train_df, ha_train], axis=1)

In [463]:
#test_df = pd.concat([test_df, ha_test], axis=1)

In [464]:
train_df.drop(['home_away'], axis=1, inplace=True)

In [465]:
#test_df.drop(['home_away'], axis=1, inplace=True)

In [466]:
train_df.head()
#test_df.head()

,game_length,ast_ratio,reb_pct,ts_pct,pace,tov_pct,opp_fta_rate,opp_tov_pct,fga,dreb,ast,W
0,48,10.2,52.1,50.5,102.04,23.3,0.190,12.9,72,26,13,0
1,48,23.0,47.9,76.3,102.04,12.9,0.569,23.3,84,31,31,1
2,53,18.2,43.2,61.9,99.26,12.0,0.348,16.2,94,23,26,0
3,53,20.0,56.8,63.2,99.26,16.2,0.245,12.0,92,29,31,1
4,53,12.8,58.5,46.0,87.11,12.5,0.180,11.5,91,36,17,1

In [467]:
X_train, X_test, y_train, y_test = train_test_split(train_df.drop('W', axis=1), train_df['W'], test_size=.33)

In [468]:
lg = LogisticRegression()

In [469]:
lg.fit(X_test, y_test)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [470]:
predictions = lg.predict(X_test)

In [471]:
print(confusion_matrix(y_test, predictions))

[[7067  968]
 [1004 6900]]

In [472]:
print(classification_report(y_test, predictions))

             precision    recall  f1-score   support

          0       0.88      0.88      0.88      8035
          1       0.88      0.87      0.87      7904

avg / total       0.88      0.88      0.88     15939

In [473]:
pd.DataFrame(lg.coef_, columns=X_test.columns).T

                     0
game_length  -0.398100
ast_ratio    -0.980641
reb_pct       0.167547
ts_pct        0.431485
pace         -0.286746
tov_pct      -0.364994
opp_fta_rate -3.197935
opp_tov_pct   0.588215
fga          -0.056465
dreb          0.462461
ast           0.681840

In [156]:
#lg.fit(train_df.drop('W', axis=1), train_df['W'] )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [157]:
predictions = lg.predict(test_df.drop('W', axis=1))

In [158]:
print(confusion_matrix(test_df['W'], predictions))

[[5 0]
 [0 3]]

In [159]:
print(classification_report(test_df['W'], predictions))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00         5
          1       1.00      1.00      1.00         3

avg / total       1.00      1.00      1.00         8

In [160]:
#sns.pairplot(test_df)

In [161]:
print(lg.coef_)

[[ -0.60479803   0.25245094   0.98137315  -0.32134208  -0.74888005
  -10.10604567   0.59895773   0.31118713   0.25613237]]

In [162]:
col = train_df.drop('W', axis=1)
col.columns

Index(['game_length', 'defensive_reb_pct', 'ts_pct', 'pace',
       'opp_effective_fg_pct', 'opp_fta_rate', 'opp_tov_pct', 'fga', 'oreb'],
      dtype='object')

In [163]:
pd.DataFrame(lg.coef_, columns=train_df.drop('W', axis=1).columns).T

                              0
game_length           -0.604798
defensive_reb_pct      0.252451
ts_pct                 0.981373
pace                  -0.321342
opp_effective_fg_pct  -0.748880
opp_fta_rate         -10.106046
opp_tov_pct            0.598958
fga                    0.311187
oreb                   0.256132